body {
    background-color: silver;
     
    
}
h1{
    color: purple;
    font-family :'Times New Roman', Times, serif;
    font-weight :bold;
}
p{
    font-family : Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size : medium;
    font-weight :bold;
}
.validator {
    float: right;
}
h2 {
    color : forestgreen;
    
}
.behaviour {
    color: darkorange;
    font-style: italic;
}
.imdb {
    color :red;
}
.figure {
    float :left;
}
#clear {
    clear :left;
}
a {
    text-decoration : none;
}
a:hover {
    text-decoration :underline;
    color : red;
}
#drop-caps::first-letter {
    float: left;
    font-family: Georgia;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}
