body {
    background-image:url('image/background.png');
}
#image-banner{
    
    background-image:url('image/bannerbg.png');
    padding-left:25%;
    height:50px;
}
h1 {
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    font-family: Tahoma, Verdana;
    text-shadow: 3px 3px #999999;
}
#body {
    width: 800px;
    border: 4px solid gray;
    border-radius: 20px;
    margin:auto;  
  
}
#image1 {
    float: right;
    border-top-right-radius: 15px;

    
}
#rottendiv {
    background-image: url('image/rbg.png');
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 48pt;
    color:red;
    font-weight:bold;
   
}

#rottenimgid {
    border-top-left-radius: 15px;
}
#first-paragraph {
    border: 0px;
    width: 250px;
    background-color: #A2B964;
    height:auto;
    border-bottom-right-radius: 15px;
    font-size: 8pt;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 10pt;
    float: right;
    clear: right;
    line-height:13.5px;
}
#columns{ 
    column-span:all;
    column-count:2;
    column-fill:balance;
    column-gap: 2%;
    padding: 5px;
    
}
.quotes {
    border: 2px solid gray;
    border-radius:10px;
    font-size: 8pt;
    font-weight:bold;
    background-color: #E8DC9B;
    padding:8px;
}
#rightside {
    padding-top:1px;
}
.tags {
    float: left;
    
    padding-top: 0.5px;
    padding-right: 4px;
    clear:left;
}
#cheat{
    opacity:0%;
}
#base {
    margin-bottom:0px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    background-color: #A2B964;
    text-align:center;
    height:30px;
    padding-bottom:15px;
}
#validator {
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 75%;
}
