body{
    background-color : lightgrey;

}
#main-header {
    background-color : darkgrey;
    background-image : url('image.jpg');
    
    
    
  
}


#main-header img {
      border-radius: 50%;
      width :150px;
      height : 200px;
 }

#main-footer {
    background-color : darkseagreen;
    height :100px;
    margin-bottom:0px;
   
}
#main-footer h4{
    text-align : left;
   
}

    #main-footer p {
        text-align: right;
        float :right;
    }

#showcase {
    background-color: lightgrey;
    height : auto;
}
#showcase ul{
    color :purple;
}